* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-bottom: 200px;
    min-height: 100vh;
    position: relative;
    font-size: larger;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
    font-size:larger;
    margin-bottom: 10px;
    font-style: italic;
}

footer {
    background-color: #434343;
    position:absolute;
    bottom: 0;
    width: 100%;
    padding: 40px;
    text-align: center;
    color: white;
    font-size: smaller;
    border-top: 5px solid black;    
}

main {   
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    text-align: center;
}

#map {
    display: block;
    align-self: center;
    border: 5px solid black;
    border-radius: 10px;
    height: 50vh;
    width: 80%;
    margin: 4px auto 4px auto;
}

.logo {
    height: 15%;
    width: 15%;
    display: block;
    margin: 2px auto auto auto;
}

.gallery {
  border: 3px solid black;
  border-radius: 8px;
  width: 100%;
  height: 30vh;
  margin: 5px;
}

.mainImg {
  max-width: 50%;
    height: 15%;
    margin: 5px auto 10px auto;
    display: block;
    border-radius: 8px;
    border: 5px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #434343;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    text-align: center;
  }

  li {
    display: inline-block;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #2a90dd;
    border-radius: 5px;
    font-weight: bold;
  }

  img {
    width: 100%;
  }

  video {
    margin: 5px;
    height: 20vh;
    border: 3px solid black;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #9a9a9a;
    padding: 30px;
    border-radius: 8px;
    border: 3px solid black;
  }

  table, th, td {
    border: 3px solid black;
  }

  table {
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    font-size: larger;
  }

  th {
    background-color: #2a90dd;
    color: white;
  }

  .plainTable {
    border: none;
    margin-left: auto;
    margin-right: auto;
  }